body {
   margin: 0; padding: 0;
   background-image: url(img/46bd986038ce.png);
}
h1, h2, h3 {
   margin: 0; padding: 0;
}
input[type=text], textarea{
   resize: none;
   width: 100%;
   background-color: #e2d6ca;
   color: #241205;
   margin-top: 5px;
   border: none; border-bottom: #241205 2px solid;
   padding: 5px;
}
select, option {
   background-color: #e2d6ca;
   color: #241205;
   margin-top: 5px;
   border: none; border-bottom: #241205 2px solid;
   padding: 5px;
}
img {
   margin-bottom: 20px;
}
hr {
   margin-top: 25px; margin-bottom: 25px;
   height: 2px; width: 100%;
   border: none;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.main {
   border-left: solid 20px transparent; border-right: solid 20px transparent;
   border-top: solid 10px transparent; border-bottom: solid 10px transparent;
   border-image: linear-gradient(#1e1913 , #3e2d25); 
   border-image-slice: 1; 
   width: 75%; margin: auto;
   margin-top: 20px; margin-bottom: 20px;
   background-color: #e5c2a2c4;
   padding: 5px; padding-top: 0; padding-bottom: 25px;
   display: flex; flex-direction: column; justify-content: space-around; align-items: center
}

.contaner {
   width: 95%; margin: auto;
   display: grid; grid-template-columns: repeat(3, 1fr);
   justify-items: center;
   gap: 30px;
   /* display: flex; flex-direction: row; justify-content: space-around; align-items: center */
}
.contaner button {
   width: 100%;
   background-color: #e2d6ca;
   color: #241205;
   margin-top: 5px;
   border: 2px solid transparent; border-bottom: #241205 2px solid;
   padding: 5px;
}
.contaner button:hover {
   background-color: #c4986e;
   border:#241205 2px solid;
   transform: scale(110%);
}

div.report {
   display: flex; flex-direction: column;
}
div.report label {
   margin-bottom: 5px;
}

@media(max-width: 1040px){
   h1, h2, h3 {
      margin-bottom: 20px;
   }
   div {
      box-sizing: border-box;
   }
   img {
      max-width: 100%;
   }
   input[type=text], textarea {
      max-width: 100%;
   }
   .main {
      width: 100%;
   }
   .contaner {
      display: block;
   }
}